<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> AdminEjercicios - Ufitness</title>

    <link href="css/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Rubik|Quattrocento+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="index.html"><img class="img-logo" width="94,14" height="50" src="img/logo.png" alt="logo"/></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfil </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Opciones </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Desconectarse </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="adminActividades.html"><i class="fa fa-futbol-o" aria-hidden="true"></i> Actividades </a>
                    </li>
                    <li>
                        <a href="adminEntrenamientos.html"><i class="fa fa-trophy" aria-hidden="true"></i> Entrenamientos </a>
                    </li>
                    <li class="active">
                        <a href="adminEjercicios.html"><i class="fa fa-bicycle" aria-hidden="true"></i></i> Ejercicios </a>
                    </li>
                    <li>
                        <a href="adminEntrenadores.html"><i class="fa fa-users" aria-hidden="true"></i> Entrenadores </a>
                    </li>
                    <li>
                        <a href="adminDeportistas.html"><i class="fa fa-users" aria-hidden="true"></i> Deportistas </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="contenido" class="container-fluid">
            <div class="titulo_seccion">
              <i class="fa fa-bicycle" aria-hidden="true"></i>
              <strong>Nombre Ejercicio</strong>
              <a id="btn_editar" href="#" class="btn btn-primary" type="button"> Editar </a>
            </div>
            <div class="contenido_pagina">
              <div class="info_ejercicio">
                <div class="descripcion_ejer">
                  <h1>Descripción: </h1>
                </div>
                <div class="musculo_ejer">
                  <h1>Músculos: </h1>
                </div>
                <div class="maquina_ejer">
                  <h1>Máquina: </h1>
                </div>
              </div>
              <div class="imgs_ejercicio">
                <div class="responsive">
                  <div class="img">
                    <a target="_blank" href="img/img.png">
                      <img src="img/img.png" alt="Trolltunga Norway" width="300" height="200">
                    </a>
                  </div>
                </div>
                <div class="responsive">
                  <div class="img">
                    <a target="_blank" href="img/img.png">
                      <img src="img/img.png" alt="Forest" width="600" height="400">
                    </a>
                  </div>
                </div>
                <div class="responsive">
                  <div class="img">
                    <a target="_blank" href="img/img.png">
                      <img src="img/img.png" alt="Northern Lights" width="600" height="400">
                    </a>
                  </div>
                </div>
                <div class="responsive">
                  <div class="img">
                    <a target="_blank" href="img/img.png">
                      <img src="img/img.png" alt="Mountains" width="600" height="400">
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            <div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
